/* Ajout d'un :after après les imgs des Pokémon */
.innerbattle > div > div:last-child:after,
.innerbattle > div > div:first-child:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: auto;
    max-width: 128px;
    height: auto;
    max-height: 128px;
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

/* Notre Pokémon */
.innerbattle > div > div:last-child:after {
    top: 120px;
    right: 180px;
    transform: scaleX(-1);
}

/* Pokémon adverse */
.innerbattle > div > div:first-child:after {
    left: 180px;
    bottom: 120px;
}


/* Cacher ces images */
.innerbattle img:last-child[src*="pawmi.png"],
.innerbattle img:last-child[src*="pawmo.png"],
.innerbattle img:last-child[src*="pawmot.png"],
.innerbattle img:last-child[src*="tandemaus.png"],
.innerbattle img:last-child[src*="maushold.png"],
.innerbattle img:last-child[src*="fidough.png"],
.innerbattle img:last-child[src*="dachsbun.png"],
.innerbattle img:last-child[src*="squawkabilly.png"],
.innerbattle img:last-child[src*="nacli.png"],
.innerbattle img:last-child[src*="naclstack.png"],
.innerbattle img:last-child[src*="garganacl.png"],
.innerbattle img:last-child[src*="charcadet.png"],
.innerbattle img:last-child[src*="armarouge.png"],
.innerbattle img:last-child[src*="ceruledge.png"],
.innerbattle img:last-child[src*="tadbulb.png"],
.innerbattle img:last-child[src*="bellibolt.png"],
.innerbattle img:last-child[src*="wattrel.png"],
.innerbattle img:last-child[src*="kilowattrel.png"],
.innerbattle img:last-child[src*="maschiff.png"],
.innerbattle img:last-child[src*="mabosstiff.png"],
.innerbattle img:last-child[src*="shroodle.png"],
.innerbattle img:last-child[src*="grafaiai.png"],
.innerbattle img:last-child[src*="bramblin.png"],
.innerbattle img:last-child[src*="brambleghast.png"],
.innerbattle img:last-child[src*="toedscool.png"],
.innerbattle img:last-child[src*="toedscruel.png"],
.innerbattle img:last-child[src*="klawf.png"],
.innerbattle img:last-child[src*="tinkatink.png"],
.innerbattle img:last-child[src*="tinkatuff.png"],
.innerbattle img:last-child[src*="tinkaton.png"],
.innerbattle img:last-child[src*="bombirdier.png"],
.innerbattle img:last-child[src*="varoom.png"],
.innerbattle img:last-child[src*="revavroom.png"],
.innerbattle img:last-child[src*="cyclizar.png"],
.innerbattle img:last-child[src*="orthworm.png"],
.innerbattle img:last-child[src*="glimmet.png"],
.innerbattle img:last-child[src*="glimmora.png"],
.innerbattle img:last-child[src*="flamigo.png"],
.innerbattle img:last-child[src*="cetoddle.png"],
.innerbattle img:last-child[src*="cetitan.png"],
.innerbattle img:last-child[src*="tatsugiri.png"],
.innerbattle img:last-child[src*="annihilape.png"],
.innerbattle img:last-child[src*="clodsire.png"],
.innerbattle img:last-child[src*="kingambit.png"],
.innerbattle img:last-child[src*="greattusk.png"],
.innerbattle img:last-child[src*="screamtail.png"],
.innerbattle img:last-child[src*="brutebonnet.png"],
.innerbattle img:last-child[src*="fluttermane.png"],
.innerbattle img:last-child[src*="slitherwing.png"],
.innerbattle img:last-child[src*="sandyshocks.png"],
.innerbattle img:last-child[src*="irontreads.png"],
.innerbattle img:last-child[src*="ironbundle.png"],
.innerbattle img:last-child[src*="ironhands.png"],
.innerbattle img:last-child[src*="ironjugulis.png"],
.innerbattle img:last-child[src*="ironmoth.png"],
.innerbattle img:last-child[src*="ironthorns.png"],
.innerbattle img:last-child[src*="frigibax.png"],
.innerbattle img:last-child[src*="arctibax.png"],
.innerbattle img:last-child[src*="baxcalibur.png"],
.innerbattle img:last-child[src*="gimmighoul.png"],
.innerbattle img:last-child[src*="gholdengo.png"],
.innerbattle img:last-child[src*="wochien.png"],
.innerbattle img:last-child[src*="chienpao.png"],
.innerbattle img:last-child[src*="tinglu.png"],
.innerbattle img:last-child[src*="chiyu.png"],
.innerbattle img:last-child[src*="roaringmoon.png"],
.innerbattle img:last-child[src*="ironvaliant.png"],
.innerbattle img:last-child[src*="koraidon.png"],
.innerbattle img:last-child[src*="miraidon.png"],
.innerbattle img:last-child[src*="walkingwake.png"],
.innerbattle img:last-child[src*="ironleaves.png"],
.innerbattle img:last-child[src*="dipplin.png"],
.innerbattle img:last-child[src*="poltchageist.png"],
.innerbattle img:last-child[src*="sinistcha.png"],
.innerbattle img:last-child[src*="okidogi.png"],
.innerbattle img:last-child[src*="munkidori.png"],
.innerbattle img:last-child[src*="fezandipiti.png"],
.innerbattle img:last-child[src*="ogerpon.png"],
.innerbattle img:last-child[src*="archaludon.png"],
.innerbattle img:last-child[src*="hydrapple.png"],
.innerbattle img:last-child[src*="gougingfire.png"],
.innerbattle img:last-child[src*="ragingbolt.png"],
.innerbattle img:last-child[src*="ironboulder.png"],
.innerbattle img:last-child[src*="ironcrown.png"],
.innerbattle img:last-child[src*="terapagos.png"],
.innerbattle img:last-child[src*="pecharunt.png"]
{ display: none !important; }

/* Ajouter ces images à la place */
.innerbattle div:has(img:last-child[src*="pawmi.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0921%20-%20Pawmi.gif"); }
.innerbattle div:has(img:last-child[src*="pawmo.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0922%20-%20Pawmo.gif"); }
.innerbattle div:has(img:last-child[src*="pawmot.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0923%20-%20Pawmot.gif"); }
.innerbattle div:has(img:last-child[src*="tandemaus.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0924%20-%20Tandemaus.gif"); }
.innerbattle div:has(img:last-child[src*="maushold.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0925%20-%20Maushold%20(Family%20of%20Three).gif"); }
.innerbattle div:has(img:last-child[src*="fidough.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0926%20-%20Fidough.gif"); }
.innerbattle div:has(img:last-child[src*="dachsbun.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0927%20-%20Dachsbun.gif"); }
.innerbattle div:has(img:last-child[src*="squawkabilly.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0931%20-%20Squawkabilly%20(Green).gif"); }
.innerbattle div:has(img:last-child[src*="nacli.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0932%20-%20Nacli.gif"); }
.innerbattle div:has(img:last-child[src*="naclstack.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0933%20-%20Naclstack.gif"); }
.innerbattle div:has(img:last-child[src*="garganacl.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0934%20-%20Garganacl.gif"); }
.innerbattle div:has(img:last-child[src*="charcadet.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0935%20-%20Charcadet.gif"); }
.innerbattle div:has(img:last-child[src*="armarouge.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0936%20-%20Armarouge.gif"); }
.innerbattle div:has(img:last-child[src*="ceruledge.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0937%20-%20Ceruledge.gif"); }
.innerbattle div:has(img:last-child[src*="tadbulb.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0938%20-%20Tadbulb.gif"); }
.innerbattle div:has(img:last-child[src*="bellibolt.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0939%20-%20Bellibolt.gif"); }
.innerbattle div:has(img:last-child[src*="wattrel.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0940%20-%20Wattrel.gif"); }
.innerbattle div:has(img:last-child[src*="kilowattrel.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0941%20-%20Kilowattrel.gif"); }
.innerbattle div:has(img:last-child[src*="maschiff.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0942%20-%20Maschiff.gif"); }
.innerbattle div:has(img:last-child[src*="mabosstiff.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0943%20-%20Mabosstiff.gif"); }
.innerbattle div:has(img:last-child[src*="shroodle.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0944%20-%20Shroodle.gif"); }
.innerbattle div:has(img:last-child[src*="grafaiai.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0945%20-%20Grafaiai.gif"); }
.innerbattle div:has(img:last-child[src*="bramblin.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0946%20-%20Bramblin.gif"); }
.innerbattle div:has(img:last-child[src*="brambleghast.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0947%20-%20Brambleghast.gif"); }
.innerbattle div:has(img:last-child[src*="toedscool.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0948%20-%20Toedscool.gif"); }
.innerbattle div:has(img:last-child[src*="toedscruel.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0949%20-%20Toedscruel.gif"); }
.innerbattle div:has(img:last-child[src*="klawf.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0950%20-%20Klawf.gif"); }
.innerbattle div:has(img:last-child[src*="tinkatink.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0957%20-%20Tinkatink.gif"); }
.innerbattle div:has(img:last-child[src*="tinkatuff.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0958%20-%20Tinkatuff.gif"); }
.innerbattle div:has(img:last-child[src*="tinkaton.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0959%20-%20Tinkaton.gif"); }
.innerbattle div:has(img:last-child[src*="bombirdier.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0962%20-%20Bombirdier.gif"); }
.innerbattle div:has(img:last-child[src*="varoom.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0965%20-%20Varoom.gif"); }
.innerbattle div:has(img:last-child[src*="revavroom.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0966%20-%20Revavroom.gif"); }
.innerbattle div:has(img:last-child[src*="cyclizar.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0967%20-%20Cyclizar.gif"); }
.innerbattle div:has(img:last-child[src*="orthworm.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0968%20-%20Orthworm.gif"); }
.innerbattle div:has(img:last-child[src*="glimmet.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0969%20-%20Glimmet.gif"); }
.innerbattle div:has(img:last-child[src*="glimmora.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0970%20-%20Glimmora.gif"); }
.innerbattle div:has(img:last-child[src*="flamigo.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0973%20-%20Flamigo.gif"); }
.innerbattle div:has(img:last-child[src*="cetoddle.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0974%20-%20Cetoddle.gif"); }
.innerbattle div:has(img:last-child[src*="cetitan.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0975%20-%20Cetitan.gif"); }
.innerbattle div:has(img:last-child[src*="tatsugiri.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0978%20-%20Tatsugiri%20(Curly%20Form).gif"); }
.innerbattle div:has(img:last-child[src*="annihilape.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0979%20-%20Annihilape.gif"); }
.innerbattle div:has(img:last-child[src*="clodsire.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0980%20-%20Clodsire.gif"); }
.innerbattle div:has(img:last-child[src*="kingambit.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0983%20-%20Kingambit.gif"); }
.innerbattle div:has(img:last-child[src*="greattusk.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0984%20-%20Great%20Tusk.gif"); }
.innerbattle div:has(img:last-child[src*="screamtail.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0985%20-%20Scream%20Tail.gif"); }
.innerbattle div:has(img:last-child[src*="brutebonnet.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0986%20-%20Brute%20Bonnet.gif"); }
.innerbattle div:has(img:last-child[src*="fluttermane.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0987%20-%20Flutter%20Mane.gif"); }
.innerbattle div:has(img:last-child[src*="slitherwing.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0988%20-%20Slither%20Wing.gif"); }
.innerbattle div:has(img:last-child[src*="sandyshocks.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0989%20-%20Sandy%20Shocks.gif"); }
.innerbattle div:has(img:last-child[src*="irontreads.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0990%20-%20Iron%20Treads.gif"); }
.innerbattle div:has(img:last-child[src*="ironbundle.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0991%20-%20Iron%20Bundle.gif"); }
.innerbattle div:has(img:last-child[src*="ironhands.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0992%20-%20Iron%20Hands.gif"); }
.innerbattle div:has(img:last-child[src*="ironjugulis.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0993%20-%20Iron%20Jugulis.gif"); }
.innerbattle div:has(img:last-child[src*="ironmoth.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0994%20-%20Iron%20Moth.gif"); }
.innerbattle div:has(img:last-child[src*="ironthorns.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0995%20-%20Iron%20Thorns.gif"); }
.innerbattle div:has(img:last-child[src*="frigibax.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0996%20-%20Frigibax.gif"); }
.innerbattle div:has(img:last-child[src*="arctibax.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0997%20-%20Arctibax.gif"); }
.innerbattle div:has(img:last-child[src*="baxcalibur.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0998%20-%20Baxcalibur.gif"); }
.innerbattle div:has(img:last-child[src*="gimmighoul.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0999%20-%20Gimmighoul.gif"); }
.innerbattle div:has(img:last-child[src*="gholdengo.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/1000%20-%20Gholdengo.gif"); }
.innerbattle div:has(img:last-child[src*="wochien.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/1001%20-%20Wo-Chien.gif"); }
.innerbattle div:has(img:last-child[src*="chienpao.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/1002%20-%20Chien-Pao.gif"); }
.innerbattle div:has(img:last-child[src*="tinglu.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/1003%20-%20Ting-Lu.gif"); }
.innerbattle div:has(img:last-child[src*="chiyu.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/1004%20-%20Chi-Yu.gif"); }
.innerbattle div:has(img:last-child[src*="roaringmoon.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/1005%20-%20Roaring%20Moon.gif"); }
.innerbattle div:has(img:last-child[src*="ironvaliant.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/1006%20-%20Iron%20Valiant.gif"); }
.innerbattle div:has(img:last-child[src*="koraidon.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/1007%20-%20Koraidon%20(Apex%20Build).gif"); }
.innerbattle div:has(img:last-child[src*="miraidon.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/1008%20-%20Miraidon%20(Ultimate%20Mode).gif"); }
.innerbattle div:has(img:last-child[src*="walkingwake.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/1009%20-%20Walking%20Wake.gif"); }
.innerbattle div:has(img:last-child[src*="ironleaves.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/1010%20-%20Iron%20Leaves.gif"); }
.innerbattle div:has(img:last-child[src*="dipplin.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/1011%20-%20Dipplin.gif"); }
.innerbattle div:has(img:last-child[src*="poltchageist.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/1012%20-%20Poltchageist.gif"); }
.innerbattle div:has(img:last-child[src*="sinistcha.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/1013%20-%20Sinistcha.gif"); }
.innerbattle div:has(img:last-child[src*="okidogi.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/1014%20-%20Okidogi.gif"); }
.innerbattle div:has(img:last-child[src*="munkidori.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/1015%20-%20Munkidori.gif"); }
.innerbattle div:has(img:last-child[src*="fezandipiti.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/1016%20-%20Fezandipiti.gif"); }
.innerbattle div:has(img:last-child[src*="ogerpon.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/1017%20-%20Ogerpon%20(Teal%20Mask).gif"); }
.innerbattle div:has(img:last-child[src*="archaludon.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/1018%20-%20Archaludon.gif"); }
.innerbattle div:has(img:last-child[src*="hydrapple.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/1019%20-%20Hydrapple.gif"); }
.innerbattle div:has(img:last-child[src*="gougingfire.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/1020%20-%20Gouging%20Fire.gif"); }
.innerbattle div:has(img:last-child[src*="ragingbolt.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/1021%20-%20Raging%20Bolt.gif"); }
.innerbattle div:has(img:last-child[src*="ironboulder.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/1022%20-%20Iron%20Boulder.gif"); }
.innerbattle div:has(img:last-child[src*="ironcrown.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/1023%20-%20Iron%20Crown.gif"); }
.innerbattle div:has(img:last-child[src*="terapagos.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/1024%20-%20Terapagos%20(Normal%20Form).gif"); }
.innerbattle div:has(img:last-child[src*="pecharunt.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/1025%20-%20Pecharunt.gif"); }


/* Formes */
.innerbattle img:last-child[src*="maushold-four.png"],
.innerbattle img:last-child[src*="squawkabilly-blue.png"],
.innerbattle img:last-child[src*="squawkabilly-yellow.png"],
.innerbattle img:last-child[src*="squawkabilly-white.png"],
.innerbattle img:last-child[src*="tatsugiri-droopy.png"],
.innerbattle img:last-child[src*="tatsugiri-stretchy.png"],
.innerbattle img:last-child[src*="gimmighoul-roaming.png"],
.innerbattle img:last-child[src*="ogerpon-cornerstone.png"],
.innerbattle img:last-child[src*="ogerpon-hearthflame.png"],
.innerbattle img:last-child[src*="ogerpon-wellspring.png"],
.innerbattle img:last-child[src*="terapagos-terastal.png"]
{ display: none !important; }

.innerbattle div:has(img:last-child[src*="maushold-four.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0925%20-%20Maushold%20(family%20of%20Four).gif"); }
.innerbattle div:has(img:last-child[src*="squawkabilly-blue.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0931%20-%20Squawkabilly%20(Blue).gif"); }
.innerbattle div:has(img:last-child[src*="squawkabilly-yellow.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0931%20-%20Squawkabilly%20(Yellow).gif"); }
.innerbattle div:has(img:last-child[src*="squawkabilly-white.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0931%20-%20Squawkabilly%20(White).gif"); }
.innerbattle div:has(img:last-child[src*="tatsugiri-droopy.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0978%20-%20Tatsugiri%20(Droopy%20Form).gif"); }
.innerbattle div:has(img:last-child[src*="tatsugiri-stretchy.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0978%20-%20Tatsugiri%20(Stretchy%20Form).gif"); }
.innerbattle div:has(img:last-child[src*="gimmighoul-roaming.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/0999%20-%20Gimmighoul%20(Roaming%20Form).gif"); }
.innerbattle div:has(img:last-child[src*="ogerpon-cornerstone.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/1017%20-%20Ogerpon%20(Cobblestone%20Mask).gif"); }
.innerbattle div:has(img:last-child[src*="ogerpon-hearthflame.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/1017%20-%20Ogerpon%20(Hearthflame%20Mask).gif"); }
.innerbattle div:has(img:last-child[src*="ogerpon-wellspring.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/1017%20-%20Ogerpon%20(Wellspring%20Mask).gif"); }
.innerbattle div:has(img:last-child[src*="terapagos-terastal.png"]):after { background-image: url("https://raw.githubusercontent.com/FoxWstrat/style-3dgifs-for-showdown/main/gifs/1024%20-%20Terapagos%20(Terastal%20Form).gif"); }